/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/app/restaurant/style.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul{
    display: flex;
}
.header-wrapper ul li{
    list-style: none;
    padding: 5px;
}
.header-wrapper ul li a{
    text-decoration: none;
}
.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 10px;
}
